@import '/node_modules/@syncfusion/ej2-base/styles/material.css';
@import '/node_modules/@syncfusion/ej2-icons/styles/material.css';
@import '/node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '/node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '/node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '/node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '/node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '/node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '/node_modules/@syncfusion/ej2-richtexteditor/styles/material.css';

.App{
  height: 100%;
}
.scrollUp{
  background-color: orange  !important;
}
.scrollUp:focus{
  border: none !important;
  outline: none !important;
  border-radius: 10px;
  opacity: 0.9 i !important;
}

.navbar-nav{
  align-items: center;
}